Code Download/Chapter09/Acudei/Web References/FriendsService/Partners.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.apress.com/services/friendsreunion" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.apress.com/services/friendsreunion" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.apress.com/services/friendsreunion">
      <s:element name="GetAttendees">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="placeId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAttendeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAttendeesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactRequests">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactRequestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactRequestsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactRequestsCustom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactRequestsCustomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactRequestsCustomResult" type="s0:ArrayOfContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="s0:Contact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contact">
        <s:attribute name="FirstName" type="s:string" />
        <s:attribute name="LastName" type="s:string" />
        <s:attribute name="Email" type="s:string" />
        <s:attribute name="Notes" type="s:string" />
        <s:attribute name="IsApproved" type="s:boolean" use="required" />
      </s:complexType>
    </s:schema>
  </types>
  <message name="GetAttendeesSoapIn">
    <part name="parameters" element="s0:GetAttendees" />
  </message>
  <message name="GetAttendeesSoapOut">
    <part name="parameters" element="s0:GetAttendeesResponse" />
  </message>
  <message name="GetContactRequestsSoapIn">
    <part name="parameters" element="s0:GetContactRequests" />
  </message>
  <message name="GetContactRequestsSoapOut">
    <part name="parameters" element="s0:GetContactRequestsResponse" />
  </message>
  <message name="GetContactRequestsCustomSoapIn">
    <part name="parameters" element="s0:GetContactRequestsCustom" />
  </message>
  <message name="GetContactRequestsCustomSoapOut">
    <part name="parameters" element="s0:GetContactRequestsCustomResponse" />
  </message>
  <portType name="PartnersSoap">
    <operation name="GetAttendees">
      <input message="s0:GetAttendeesSoapIn" />
      <output message="s0:GetAttendeesSoapOut" />
    </operation>
    <operation name="GetContactRequests">
      <input message="s0:GetContactRequestsSoapIn" />
      <output message="s0:GetContactRequestsSoapOut" />
    </operation>
    <operation name="GetContactRequestsCustom">
      <input message="s0:GetContactRequestsCustomSoapIn" />
      <output message="s0:GetContactRequestsCustomSoapOut" />
    </operation>
  </portType>
  <binding name="PartnersSoap" type="s0:PartnersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetAttendees">
      <soap:operation soapAction="http://www.apress.com/services/friendsreunion/GetAttendees" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetContactRequests">
      <soap:operation soapAction="http://www.apress.com/services/friendsreunion/GetContactRequests" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetContactRequestsCustom">
      <soap:operation soapAction="http://www.apress.com/services/friendsreunion/GetContactRequestsCustom" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Partners">
    <port name="PartnersSoap" binding="s0:PartnersSoap">
      <soap:address location="http://localhost/FriendsReunion/Services/Partners.asmx" />
    </port>
  </service>
</definitions>